* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
}

.welcome {
	color: #547132;
	font-size: '1.5em';
}
.explore {
	color: #f09826;
	margin-top: 30px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

h3 {
	color: #5d5d5d;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

h1 {
	color: #5d5d5d;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.login {
	width: 100%;
	min-height: 100vh;
	padding: 0 20px;
	display: flex;
	align-items: center;
}

.login .loginContainer {
	padding: 60px;
	margin: auto;
	width: 100%;
	max-width: 520px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: radial-gradient(
		ellipse at left bottom,
		rgba(22, 24, 47, 1) 0%,
		rgba(38, 20, 72, 0.9) 59%,
		rgba(17, 27, 75, 0.9) 100%
	);
	box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
	color: white;
	margin: 14px 0;
	display: block;
	font-size: 22px;
	line-height: 1;
}

.login .loginContainer input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 19px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
	width: 100%;
	padding: 24px 0;
}

.login .loginContainer .btnContainer p {
	margin: 14px 0 0 0;
	text-align: right;
	color: #fff;
}

.login .loginContainer .btnContainer p span {
	color: yellow;
	font-weight: 500;
	letter-spacing: 0.5px;
	margin-left: 5px;
	cursor: pointer;
	transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
	color: red;
}

.login .loginContainer .errorMsg {
	color: red;
	font-size: 16px;
}

.hero {
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(
		ellipse at left bottom,
		rgba(22, 24, 47, 1) 0%,
		rgba(38, 20, 72, 0.9) 59%,
		rgba(17, 27, 75, 0.9) 100%
	);
}

.hero nav {
	background: #5d5d5d;
	width: 100%;
	padding: 20px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero nav h2 {
	color: #fff;
}

.hero nav button {
	width: 86px;
	padding: 8px 0;
	background: #3a2b58;
}

.scan-header {
	width: 100%;
	height: 150px;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;
	font-weight: bold;
	color: white;
}
.scanner {
	padding: 0;
	margin: 0;
}
.bottomComponent {
	display: flex;
	flex-direction: column;
	justify-items: center;
}
.input {
	width: 80%;
	padding: 10px;
	margin: 10px;
}
.increment {
	display: flex;
	padding: 0px 10px;
	justify-content: center;
}
button {
	border-radius: 25px;
	background-color: transparent;
	border: none;
}

.donate-header {
	background-color: #f09826;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
	color: white;
}

.donation-form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
}

.donation-label {
	text-align: left;
	margin-bottom: 5px;
	font-size: 14pt;
	font-weight: 600;
	color: #5d5d5d;
}

.donation-input {
	border: 1px solid #5d5d5d;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 40px;
	padding-left: 20px;
}
